body {
  background-color: #1c1a1d;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header,
section {
  padding: 0.25rem 2rem;
  text-align: center;
}

.desktop-only {
  display: none;
}