body {
  background-color: #2c2c2d;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

 .grid-container{
    background-color: white;
    min-height: 100vh; 
    padding: 1rem;
    display: grid;
    gap: 1rem;
    

 }

 .grid-item{
    background-color: blue;
 }


 .header{
    grid-column: 1 / 4;
    grid-row: 1;

 }


 .sidebar{
    grid-column: 1;
    grid-row: 2 / 5
 }

 .main{
    grid-column: 2 / 4;
    grid-row: 2;
 }

 .footer{
    grid-column: span 3;
    grid-row: 3;
 }